<mat-grid-list cols="6" rowHeight="450px">
    <mat-grid-tile>
        <mat-card class="example-card">
            <mat-card-header>
              <mat-card-title>Avatar</mat-card-title>
              <mat-card-subtitle>Fantastique</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="https://fr.web.img6.acsta.net/medias/nmedia/18/78/95/70/19485155.jpg">
            <mat-card-actions>
              <button mat-button>Retirer</button>
            </mat-card-actions>
        </mat-card>
  </mat-grid-tile>
</mat-grid-list>