<mat-grid-list cols="2">
    <mat-grid-tile>
        <mat-card class="example-card">
            <mat-card-header>
              <mat-card-title>Seigneur des anneaux : les deux tours</mat-card-title>
              <mat-card-subtitle>Fantastique</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="https://fr.web.img3.acsta.net/medias/nmedia/18/35/14/33/18366630.jpg" alt="Photos du Seigneur des anneaux : les deux tours">
            <mat-card-content>
              <p>
                Après la mort de Boromir et la disparition de Gandalf, la `Communauté' s'est scindée en trois.
                 Perdus dans les collines d'`Emyn Muil', Frodon et Sam découvrent qu'ils sont suivis par Gollum,
                  une créature versatile corrompue par l'anneau magique. Gollum promet de conduire les `Hobbits' jusqu'à la `Porte Noire' du `Mordor'.
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button>Favoris</button>
            </mat-card-actions>
          </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card class="example-card">
            <mat-card-header>
              <mat-card-title>Avatar</mat-card-title>
              <mat-card-subtitle>Fantastique</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcTA4nJB9z9llRSjgDa4SrU-Jwtb-3dwzkt90rF7KkCka1H90HDt" alt="Photos d'Avatar'">
            <mat-card-content>
              <p>
                Malgré sa paralysie, Jake Sully, un ancien marine immobilisé dans un fauteuil roulant,
                est resté un combattant au plus profond de son être. Il est recruté pour se rendre à des années-lumière de la Terre, sur Pandora,
                où de puissants groupes industriels exploitent un minerai rarissime destiné à résoudre la crise énergétique sur Terre.
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button>Favoris</button>
            </mat-card-actions>
          </mat-card>
    </mat-grid-tile>
</mat-grid-list>