html,body{font-family:Verdana,sans-serif;font-size:15px;line-height:1.5}html{overflow-x:hidden}
hr{border:0;border-top:1px solid #eee;margin:20px 0}
.bar{width:100%;overflow:hidden}.center .bar{display:inline-block;width:auto}
